/*----------SECTION PICTURES----------*/

.section__img-container{
    width: 250px;
    display: none;
    overflow: hidden;
    margin: 20px auto;
}

.section__img{
    width: 100%;
    border-radius: 20px;
    display: none;
}

.instructors__img-container{
    width: 100%;
    margin: 20px auto;

}

.instructors__img{
    width: 100%;
    border-radius: 20px;
}

/*----------SECTION PICTURES QUERIES----------*/

@media (min-width: 870px) {
    .section__img-container{
        display: block;
    }

    .section__img{
        display: block;
    }

    .instructors__img-container{
    width: 100%;
    max-width: 700px;
}
}

/*----------SECTION PICTURES ENDS----------*/

/*----------COLABORATION SECTION----------*/

.colaboracion{
    margin-top: 25px;
    background-color: #0003;
}
.colaboracion__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}
.colaboracion__link{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    max-height: 100px;
    min-height: 50px;
    min-width: 300px;
    margin: 20px auto;
    text-decoration: none;
    z-index: 10;
    box-shadow: 0 0 9px #000f;
}

.colaboracion__link-item{
    text-align: center;
}

.colaboracion__link-item p{
    color: #758A7D;
    padding: 20px;
}

.colaboracion__link:is(:hover, :active){
    outline: 2px solid #fff;
}

.colaboracion__img-container{
    height: 200px;
    padding: 20px;
    text-align: center;
}
.colaboracion__img{
    height: 100%;
    border-radius: 20px;
}

/*----------COLABORATION QUERIES----------*/

@media (min-width: 870px) {

    .colaboracion__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    .colaboracion__titulo_boton{
        margin: auto 10px;
    }

    .colaboracion__link{
        width: 30%;
        max-width: 350px;
    }
}

/*----------MAIN----------*/

.main{
    margin: 20px;
}

.main h1{
    text-align: center;
    margin-bottom: 10px;
}

.main h2{
    margin-bottom: 50px;
}



/*----------MAIN QUERIES----------*/

@media (min-width: 870px) {
    .main__wrapper p{
        margin: 0 300px;
    }
}

/*----------MAIN ENDS----------*/


/*----------PROVENANCES----------*/

.provenances{
    background-color: #0003;
}

.provenances h2{
    text-align: center;
}

.provenances__wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.provenances__list{
    margin-left: 20px;
}

.provenances__list-item{
    padding: 15px 0;
}

/*----------PROVENANCES ENDS----------*/


/*----------INSTRUCTORS----------*/

.instructors{
    margin: 20px;
}


@media (min-width: 870px) {
    .instructors__wrapper{
        margin: 0 300px;
    }
}

/*----------INSTRUCTORS ENDS----------*/


/*----------CAMP----------*/

.camp{
    background-color: #0003;
}

.camp__wrapper p{
    margin: 20px;

}

@media (min-width: 870px) {
    .camp__wrapper p{
        margin: 20px 300px;
    }
}
/*----------CAMP ENDS----------*/


/*----------FIGHT----------*/

.fight__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fight__wrapper p {
    margin: 20px;
    max-width: 700px;
}

@media (min-width: 870px) {
    .fight__wrapper p {
        margin: 20px 300px;
        max-width: 700px;
    }
}
/*----------FIGHT ENDS----------*/