/*----------SECTION PICTURES----------*/

.section__img-container{
    width: 250px;
    display: none;
    overflow: hidden;
    margin: 20px auto;
}

.section__img{
    width: 100%;
    border-radius: 20px;
    display: none;
}

.instructors__img-container{
    width: 100%;
    margin: 20px auto;

}

.instructors__img{
    width: 100%;
    border-radius: 20px;
}

/*----------SECTION PICTURES QUERIES----------*/

@media (min-width: 870px) {
    .section__img-container{
        display: block;
    }

    .section__img{
        display: block;
    }

    .instructors__img-container{
    width: 100%;
    max-width: 700px;
}
}

/*----------SECTION PICTURES ENDS----------*/


/*----------MAIN----------*/

.main{
    margin: 20px;
}

.main h1{
    text-align: center;
    margin-bottom: 10px;
}

.main h2{
    margin-bottom: 50px;
}



/*----------MAIN QUERIES----------*/

@media (min-width: 870px) {
    .main__wrapper p{
        margin: 0 300px;
    }
}

/*----------MAIN ENDS----------*/


/*----------PROVENANCES----------*/

.provenances{
    background-color: #0003;
}

.provenances h2{
    text-align: center;
}

.provenances__wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.provenances__list{
    margin-left: 20px;
}

.provenances__list-item{
    padding: 15px 0;
}

/*----------PROVENANCES ENDS----------*/


/*----------INSTRUCTORS----------*/

.instructors{
    margin: 20px;
}


@media (min-width: 870px) {
    .instructors__wrapper{
        margin: 0 300px;
    }
}

/*----------INSTRUCTORS ENDS----------*/


/*----------CAMP----------*/

.camp{
    background-color: #0003;
}

.camp__wrapper p{
    margin: 20px;

}

@media (min-width: 870px) {
    .camp__wrapper p{
        margin: 20px 300px;
    }
}
/*----------CAMP ENDS----------*/


/*----------FIGHT----------*/

.fight__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fight__wrapper p {
    margin: 20px;
    max-width: 700px;
}

@media (min-width: 870px) {
    .fight__wrapper p {
        margin: 20px 300px;
        max-width: 700px;
    }
}
/*----------FIGHT ENDS----------*/