li{
    list-style: none;
}

h1{
    text-decoration: underline;
}

/*----------DECALOGO SECTION----------*/

.decalogo{
    margin: auto;
    width: 70%;
}

.item-par{
    background-color: #0003;
    border-radius: 20px;
}

.decalogo__mandemientos-list-item{
    padding: 50px;
}

.decalogo__mandemientos-list-item p{
    text-align: center;
}

/*----------DECALOGO QUERIES----------*/



/*----------DECALOGO ENDS----------*/