/* -----SECTIONS SECTION----- */

.sections{
    container-type: inline-size;
    container-name: sections;
}

.sections__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: center;
}

.sections__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections__main h2{
    padding: 0 20px;
    text-align: center;
    font-size: 2.3rem;
}

.sections__main p{
    font-size: 2rem;
    margin-top: 50px;
    padding: 0 20px;

}

.sections__img-container {
    display: none;
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px); 
    overflow: hidden;
    z-index: -1;
    padding: 20px;
    background-color: #0003;
}

.sections__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* -----SECTIONS QUERIES----- */

@container sections (min-width: 880px){
    .sections__wrapper{
        grid-template-columns: 1fr 4fr 1fr;
    }

    .sections__img-container{
        display: block;
    }
}
/* -----SECTIONS ENDS----- */