/* -----MAIN PICTURE SECTION----- */
.header__main_picture{
    container: main_picture / inline-size;
}

.header__main_picture-container {
    margin-top: 80px;
    width: 100%;
    height: auto;
    
}

.header__main_picture-item{
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: -2;
    display: block;
}

/* -----MAIN PICTURE QUERIES----- */
@container main_picture (min-width: 880px){

    .header__main_picture-container{
        margin-top: 0;
    }

    .header__main_picture-item{
        height: 100vh;
    }
}

/* -----MAIN PICTURE ENDS----- */

/* -----MAIN SECTION----- */

.main{
    container: main / inline-size;
    margin-top: 20px;
}

.main__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1400px;
    background-color: #0003;
}

.main__data-container {
    max-width: 600px;
    padding: 12px;
}

.main__img-container{
    max-height: 500px;
    
}

.main__img {
    max-width: 100%;
    width: 850px;
}

.main__objectives_values-container{
    margin-top: 50px;
    padding: 12px;
    width: 100%;
}

.objectives_values-img-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    
}
.objectives_values-img {
    width: 100%;
}
.main__data-description-link{
    display: flex;
    justify-content: center;
    background-color: #0003;
    border-radius: 50px;
    max-height: 100px;
    min-height: 50px;
    margin: 10px;
    text-decoration: none;
    z-index: 10;
}

.main__data-description-link-item{
    text-align: center;
}

.main__data-description-link-item p{
    color: #758A7D;
    padding: 20px;
}

.main__data-description-link:is(:hover, :active){
    outline: 2px solid #fff;
}

/* -----MAIN SECTION QUERIES----- */

@container main (min-width: 880px){

    .main__wrapper{
        flex-direction: row;
        padding: 20px;
        margin: auto;
        width: 70%;
    }

    .main__data-container {
        width: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .main__data-description p {
        font-size: 1.5rem;
    }

    .main__objectives_values-container p{
        font-size: 1.5rem;
    }

    .main__objectives_values-container h2{
        font-size: 2rem;
    }

    .main__data {
        max-width: 620px;
    }

    .main__img-container {
        max-height: initial;
    }

    .main__img {
        height: 100%;
        object-fit: cover;
        width: 300px;
    }

    .objectives_values-img-container {
        width: 70%;
        border: 5px solid #0003;
    }
}

/* -----MAIN SECTION ENDS----- */


/* -----ACTIVITIES SECTION----- */

.activities {
    container: activities / inline-size;

}

.activities__h2{
    text-align: center;
}

.activities__wrapper{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: #0003;
    padding: 12px;
}

.activities__grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1400px;
    gap: 12px;
}

.actividades__img-container{
    height: 100%;
    width: 100%;
    
}

.actividades__img{
    width: 100%;
}

.actividades__img:is(:hover, :active){
    border: 2px solid #fff;

}

/* -----ACTIVITIES QUERIES----- */
@container activities (min-width: 880px){
    
    .activities__wrapper{
        width: 70%;
    }

    .activities__grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .activities__h2{
        font-size: 2rem;
    }
}


/* -----ACTIVITIES ENDS----- */


/* -----PHRASE SECTION----- */

.phrase__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px 20px 50px 20px;
}

.phrase__line-container{
    width: 100%;
    padding: 20px 0;
}

.phrase__line{
    margin: 0;
    font-size: 6vw;
    text-align: center;
    font-family: "Mea_Culpa";
}

/* -----PHRASE ENDS----- */


/* -----TESTIMONILAS SECTION----- */

.testimonials{
    margin: 50px 0;
    background-color: #0003;
    padding: 12px;
    container: testimonials / inline-size;
}

.testimonials__wrapper{
    display: flex;
    flex-direction: row;
    
    overflow-x: auto;
    margin: 20px;
    gap:20px;
    min-height: 30vh;
}

.testimonials__testimony-container{
    padding: 12px;
    background-color: #3D4841;
}

.testimonials__testimony-text{
    width: 30vh;
    max-width: 300px;
}

.testimonials__h2 {
    text-align: center;
}

/* -----TESTIMONILAS QUERIES----- */

@container testimonials (min-width: 880px){
    .testimonials__wrapper{
        min-height: 60vh;
    }

    .testimonials__h2{
        font-size: 2rem;
    }
}

/* -----TESTIMONILAS END----- */