/*----------MAIN SECTION----------*/

.sections__main{
    display: flex;
    flex-direction: column;
}

.sections__main h1{
    margin: auto;
    padding: 0 20px;
}

.main__section{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.main__section-second{
    flex-direction: column-reverse;
}

.main__img-container{
    width: 100%;
}

.main__img-container img{
    width: 100%;
}

/*----------MAIN QUERIES----------*/

@media (min-width: 870px) {
    .main__section{
        flex-direction: row;
        padding: 20px;
    }

    .main__img-container{
        height: 100%;
    }

    .main__img-container img{
        height: 100%;
        border-radius: 20px;
    }

    .main_text-container p{
        padding: 10px 10px 20px 20px;
    }

    .main__section-second {
        background-color: #0003;
    }
}

/*----------MAIN ENDS----------*/