* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #A7B4AC;
    text-wrap: pretty;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Mea_Culpa";
    src: url("../fonts/Mea_Culpa/MeaCulpa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Algerian";
    src: url("../fonts/Algerian/algerian-regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #3D4841;
}

div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

strong {
    color: #888;
}

h1, h2 {
    color: #758A7D;
}

p {
    text-align: justify;
    text-wrap: balance;
}


/*----------HEADER SECTION----------*/

.header__wrapper{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #1E2520;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

.header__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__bar-logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__bar-logo-img-container{
    height: 100%;
}

.header__bar-logo-img{
    height: 100%;
}

.header__bar-logo-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__bar-logo-text{
    font-family: "Algerian";
    font-size: 4vw;
}



.header__checkbox {
    display: none;
}

.header__nav-button{
    padding-right: 20px;
}
.header__nav-button p{
    background-color: #A7B4AC;
    color: #1E2520;
    padding: 10px;
    border-radius: 20px;
}

.header__nav{
    display: none;
    top: 80px;
    z-index: 50;
    position: absolute;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #3D4841;
}

.header__nav-list{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 30% 0;
}

.header__nav-item a{
    text-decoration: none;
}

.header__checkbox:checked  ~ .header__nav{
    display: block;
}

.header__main_video-container{
    padding-top: 80px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.header__main_video{
    width: 100%;
}

.header__main_picture-container{
    padding-top: 80px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.header__main_picture{
    width: 100%;
}

.header__nav-item a:is(:hover, :active) {
    color: #FFF;
    text-decoration: underline;
}

/*----------HEADER QUERIES----------*/

@media (min-width: 870px) {

    .header__wrapper{
        background: linear-gradient(to bottom, #000e, #0006);
        box-shadow: 0 0 8px #000;
    }

    .header__nav-button{
    display: none;
    }

    .header__nav{
    position: static;
    display: block;
    z-index: 100;
    width: 50%;
    max-width: 1000px;
    background-color: #0000;
    height: auto;
    }

    .header__bar-logo-text{
        font-size: 16px;
    }

    .header__nav-list{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        padding: 0;
    }

    .header__main_video-container {
        padding-top: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
    }

    .header__main_video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* asegura que ocupe todo el contenedor */
        object-position: center; /* centra el video */
    }

    .header__main_picture-container{
        padding-top: 0;
        width: 100%;
        height: 500px;
        overflow: hidden;
        z-index: -1;
    }

    .header__main_picture{
        width: 100%;
        width: auto;
    }
}

/*----------HEADER ENDS----------*/


/*----------FLAG SECTION----------*/

.flag__wrapper{
    display: flex;
    flex-direction: column;
}

.division_flag-item-red{
    height: 10px;
    background-color: #AD1519;
}

.division_flag-item-yellow{
    height: 20px;
    background-color: #FABD00;
}

/*----------FLAG ENDS----------*/

/* -----FOOTER SECTION----- */


.footer__wrapper {
    min-height: 40px;
    max-height: 300px;
    background-color: #1E2520;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-item{
    max-width: 600px;
}

.footer-item__social_network{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0003;
    border-radius: 25px;
    margin: 10px 0;
    padding: 12px;
}

.footer-item__social_network-img-container{
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 32px;
}

.footer-item__social_network-img{
    width: 100%;
}

.footer-logo-container{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    width: 500px;
}

.footer-logo{
    max-width: 100%;
}

.footer__nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.footer__nav-item{
    list-style: none;
}

.footer__nav-item a{
    text-decoration: none;
}

.footer__nav-item a:is(:hover, :active){
    text-decoration: underline;
}

.footer-item__legal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 40px;
    max-height: 300px;
}

.footer-item__legal a{
    text-decoration: none;
}

.footer-item__legal a:is(:hover, :active){
    text-decoration: underline;
}

/* -----FOOTER QUERIES----- */

@media (min-width: 870px) {
    .footer-logo-container{
        display: flex;
    }
}

/* -----FOOTER ENDS----- */